/*** RESET ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN */

h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.interface_container {
  background-color: aquamarine;
  width: 90%;
  margin: 0 auto;
  background-image: url(../img/Dice_on_the_table_six_and_five.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  /* todo test */
  height: 500px;
}
.top_section,
.bottom_section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
button {
  margin: 0 auto;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: beige;
}

/* sezione con campi risultati lancio */
.middle_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.middle_section .col {
  width: 50%;
  text-align: center;
}
.col h2 {
  padding: 20px 0;
}
#player_roll,
#house_roll {
  font-size: 2rem;
}

/* sezione con il messaggio esito della partita */
#result_message {
  font-size: 2rem;
  font-weight: bold;
}
